.filter {
  margin: 30px 0;

  label {
    font-family: $font-header;
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    margin: 24px 20px 24px 0;
  }
}
